#!/usr/bin/make -f

%:
	dh $@ --with=python2 --buildsystem=python_distutils

override_dh_auto_build:
	$(MAKE)
	dh_auto_build --buildsystem=python_distutils

override_dh_auto_test:
	$(MAKE) clean check
	# RE-build
	$(MAKE)

override_dh_auto_clean:
	$(MAKE) clean
